.list-unstyled li::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
}

.list-unstyled li.white::before {
    background-color: #fff;
}

.list-unstyled li.black::before {
    background-color: #000;
}
